<ul class="list-group">
<li class="list-group-item ">
    <i class="fas fa-bars"></i>  เมนู
</li>
<li class="list-group-item">
<a href="{% url 'home2' %}">
<i class="fa fa-home"></i> หน้าแรก
</a>
</li>
    <li class="list-group-item">
<a href="{% url 'categoriesList' %}">
<i class="fas fa-list-alt"></i> หมวดหมู่
</a>
</li>
<li class="list-group-item">
<a href="{% url 'restaurantsList' %}">
<i class="fa-solid fa-utensils"></i> ข้อมูลร้านอาหาร
</a>
</li>
    <li class="list-group-item">
<a href="{% url 'hotelList' %}">
<i class="fa-solid fa-hotel"></i> ข้อมูลโรงแรม
</a>
</li>
      <li class="list-group-item">
<a href="{% url 'recipeList' %}">
<i class="fas fa-apple-alt"></i> ข้อมูลสูตรอาหาร
</a>
</li>
    <li class="list-group-item">
<a href="{% url 'home' %}">
<i class="fas fa-sign-out"></i> ออกจากระบบ
</a>
</li>
</ul>
